<nav class="navbar navbar-expand-lg" style="background-color: #074d80;padding-left: 400px;" data-bs-theme="light">
    <div class="container-fluid justify-content-center">      
      <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-white" style="font-size: 25px;" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" style="font-size: 25px;padding-left: 40px;" routerLink="/cars">Cars</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" style="font-size: 25px;padding-left: 40px;" routerLink="/bookings">Bookings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" style="font-size: 25px;padding-left: 40px;" href="#">About</a>
          </li>
          <li class="nav-item pt-2" style="padding-left: 690px;">
          <button class="btn btn-danger text-white btn-md" type="submit" [routerLink]="['/login']">Log Out</button>
          </li>
        </ul>
        
        <!-- <form class="text-center" style="padding-left: 40px;" role="search">
          <button class="btn btn-danger text-white btn-lg" type="submit" [routerLink]="['/login']">Log Out</button>
        </form> -->
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>

<!-- chatgpt code -->
<!--
<nav class="navbar navbar-expand-lg" style="background-color: #074d80;" data-bs-theme="light">
    <div class="container-fluid">      
      <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-white" style="font-size: 18px;" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" style="font-size: 18px;" routerLink="/cars">Cars</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" style="font-size: 18px;" routerLink="/bookings">Bookings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" style="font-size: 18px;" href="#">About</a>
          </li>
        </ul>
        <form class="d-flex" role="search">          
          <button class="btn btn-danger text-white" type="submit" [routerLink]="['/login']">Log Out</button>
        </form>
      </div>
    </div>
</nav>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>

-->