.booking-buttons{
    /* padding-left: 20px; */
    display: flex;
    justify-content: space-around;
}
.action{
    display: flex;
    justify-content: space-around;
}
td,th{
    text-align: center;
}